<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Registro de Escaneos</h1>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="eidescaneo" />
        <mat-error *ngIf="form.get('eidescaneo')?.hasError('required')">
          El código es obligatorio!!
        </mat-error>
      </mat-form-field>

      <br />

      <input type="file" (change)="cargarImagen($event)" accept="image/*" />

      <br />
      <mat-form-field appearance="fill" *ngIf="textoExtraido">
        <mat-label>Texto detectado</mat-label>
        <textarea matInput [value]="textoExtraido" rows="5" readonly></textarea>
      </mat-form-field>
      <br />
      <button
        mat-raised-button
        color="primary"
        (click)="extraerTexto()"
        [disabled]="!imagenBase64"
      >
        Extraer texto de la imagen
      </button>
      <br />
      <mat-form-field>
        <mat-label>Fecha inicio</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="efecha" />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="form.get('efecha')?.hasError('required')">
          La fecha es obligatoria!!
        </mat-error>
      </mat-form-field>

      <br />
      <button matButton="filled" class="btn btn-border-reveal">Aceptar</button>
    </form>
  </div>
</div>
