<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>AppChanceCode</title>
  <link rel="stylesheet" href="home.component.css">
</head>
<body>

  <header>
    
    <img src="assets/logo1.png" alt="logo 1" class="logo-pequeno" />
    <!--<nav>
      <a href="#">Inicio</a>
      <a href="#">Contacto</a>
      <a href="#">Descargar</a>
      <a href="#"><button>Registrarse</button></a>
    </nav>-->
  </header>

  <section class="hero">
    <img src="assets/imagen2.png" alt="logo 1" class="" />
    <div class="hero-text">
      <h1>Tu Compañero Confiable en Cada Línea de Código</h1>
      <p>La aplicación de traducción de lenguajes de programación que te alerta sobre errores de código críticos, te proporciona soluciones y alternativas en tiempo real, y te mantiene en control donde sea que estés.</p>
    </div>
  </section>

  <div class="section-title">
    Traducción segura al alcance de tu mano
  </div>

  <section class="features">
    <div class="feature">
      <img src="#" alt="Icono">
      <h3>SUBTÍTULO</h3>
      <p>TEXTO.</p>
    </div>
    <div class="feature">
      <img src="#" alt="Icono">
      <h3>SUBTÍTULO</h3>
      <p>TEXTO.</p>
    </div>
    <div class="feature">
      <img src="#" alt="Icono">
      <h3>SUBTÍTULO</h3>
      <p>TEXTO.</p>
    </div>
  </section>

  <section class="testimonials">
    <h2>Testimonios de Programadores</h2>
    <p>Lo que nuestros piensan de Nosotros</p>
    <div class="testimonial-container">
      <div class="testimonial">
        <p>“Con esta aplicación me siento mucho más seguro al escribir código, especialmente cuando trabajo con lenguajes desconocidos. Ahora trabajo todo de manera más efectiva y rápida.”</p>
        <strong>- Ana Rodríguez Govea</strong>
      </div>
      <div class="testimonial">
        <p>“Desde los errores en tiempo real me ha ayudado a evitar fallos difíciles de detectar. Ideal para estudiantes y expertos por igual.”</p>
        <strong>- Juan Carlos Lasteros</strong>
      </div>
    </div>
  </section>

  <section class="download">
    <h2>Códigos Traducidos</h2>
    <p>Descárgalo gratis</p>
    <img src="assets/googleplay.png" alt="logo 1" class="" />
    <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store">
  </section>

  <footer>
    <div class="footer-section">
      <strong>EMPRESA</strong><br>
      Misión<br>
      Quiénes somos<br>
      Trabaja con nosotros
    </div>
    <div class="footer-section">
      <strong>SOPORTE</strong><br>
      Ayuda<br>
      Privacidad<br>
      Términos y condiciones
    </div>
    <div class="footer-section social-icons">
      <img src="assets/facebook.png" alt="logo 1" class="" />
      <img src="assets/twiter.png" alt="logo 1" class="" />
      <img src="assets/instagram.png" alt="logo 1" class="" />
    </div>
  </footer>

</body>
</html>
