.btn-border-reveal {
  background-color: transparent;
  color: #142d89;
  border: 2px solid #142d89;
  position: relative;
}

.btn-border-reveal::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #146889;
  transition: width 0.3s ease;
  z-index: -1;
}

.btn-border-reveal:hover::after {
  width: 100%;
}

.btn-border-reveal:hover {
  color: white;
}
