<div class="container">
  <div style="text-align: center; margin: 6%">
    <h1>Lista de Escaneos</h1>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
      <ng-container matColumnDef="c1">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.idEscaneo}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="c2">
        <th mat-header-cell *matHeaderCellDef>Imagen</th>
        <td mat-cell *matCellDef="let element">{{ element.imagen}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="c3">
        <th mat-header-cell *matHeaderCellDef>Fecha de Escaneo</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fechaEscaneo|date:'dd/MM/yyyy' }}
        </td>
      </ng-container>

        <ng-container matColumnDef="c4">
          <th mat-header-cell *matHeaderCellDef>Actualizar</th>
          <td mat-cell *matCellDef="let element">
            <button matButton [routerLink]="['ediciones',element.idEscaneo]" >
              <mat-icon>edit</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Symbol Column -->
            <ng-container matColumnDef="c5">
              <th mat-header-cell *matHeaderCellDef>Eliminar</th>
              <td mat-cell *matCellDef="let element">
                <button matButton
                  (click)="eliminar(element.idEscaneo)"
                  >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>
            
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

