.custom-toolbar {

  background-color: rgb(5, 5, 5); /* rojo */

 }
.logo-pequeno {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 90px;
  height: auto;
  z-index: 1000;
}


 .btn-rojo {

  background-color: rgb(0, 0, 0);

  border-radius: 7px;

  margin: 7px;

  border: none;

 }





 .custom-toolbar button,

 .custom-toolbar mat-icon {

  color: rgb(255, 253, 253);

 }
