
<mat-toolbar class="custom-toolbar" color="primary">  
  
    <button mat-button [routerLink]="['/homes']" style="color: rgb(0, 0, 0)">
    <img src="assets/logo1.png" alt="logo 1" class="logo-pequeno" />
  </button>
  
  <div>
    <button mat-button [matMenuTriggerFor]="menuUsuarios" class="btn-rojo">
      <mat-icon>computer</mat-icon>
      Usuarios
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuTraduccion" class="btn-rojo">
      <mat-icon>book</mat-icon>
      Traduccion
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuSuscripciones" class="btn-rojo">
      <mat-icon>group_add</mat-icon>
      Suscripcion
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuRoles" class="btn-rojo">
      <mat-icon>book</mat-icon>
      Roles
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuPago" class="btn-rojo">
      <mat-icon>attach_money</mat-icon>
      Pago
    </button>
  </div>
  <div>
    <button
      mat-button
      [matMenuTriggerFor]="menuLenguajeprogramacion"
      class="btn-rojo"
    >
      <mat-icon>book</mat-icon>
      Lenguajeprogramacion
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuGlosario" class="btn-rojo">
      <mat-icon>book</mat-icon>
      Glosario
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuFeedback" class="btn-rojo">
      <mat-icon>book</mat-icon>
      Feedback
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuEscaneos" class="btn-rojo">
      <mat-icon>scanner</mat-icon>
      Escaneo
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuCompartir" class="btn-rojo">
      <mat-icon>book</mat-icon>
      Compartir
    </button>
  </div>
  <div>
    <button mat-button [matMenuTriggerFor]="menuAsistentevirtual"class="btn-rojo">
      <mat-icon>book</mat-icon>
      AsistenteVirtual
    </button>
  </div>
  <div>
  <button mat-button [matMenuTriggerFor]="menuReportes" class="btn-rojo">
   <mat-icon>file_copy</mat-icon>
   Reportes
  </button>
 </div>
</mat-toolbar>

<mat-menu #menuUsuarios="matMenu">
  <button mat-menu-item routerLink="/usuarios">Listar</button>
  <button mat-menu-item routerLink="/usuarios/insertareditarusuarios">Registrar</button>
  <button mat-menu-item routerLink="/usuarios/busquedas">Buscar por fecha</button>
</mat-menu>

<mat-menu #menuTraduccion="matMenu">
  <button mat-menu-item routerLink="/Traduccion">Listar</button>
  <button mat-menu-item routerLink="/Traduccion/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuSuscripciones="matMenu">
  <button mat-menu-item routerLink="/suscripciones">Listar</button>
  <button mat-menu-item routerLink="/suscripciones/insertareditarsuscripcion">Registrar</button>
</mat-menu>

<mat-menu #menuRoles="matMenu">
  <button mat-menu-item routerLink="/Traduccion">Listar</button>
  <button mat-menu-item routerLink="/Traduccion/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuPago="matMenu">
  <button mat-menu-item routerLink="/pagos">Listar</button>
  <button mat-menu-item routerLink="/pagos/insertareditar">Registrar</button>
</mat-menu>

<mat-menu #menuLenguajeprogramacion="matMenu">
  <button mat-menu-item routerLink="/lenguajesprogramacion">Listar</button>
  <button mat-menu-item routerLink="/lenguajesprogramacion/nuevo">
    Registrar
  </button>
</mat-menu>

<mat-menu #menuGlosario="matMenu">
  <button mat-menu-item routerLink="/glosarios">Lista Palabra</button>
  <button mat-menu-item routerLink="/glosarios/insertareditarglosario">Registrar Palabra</button>
</mat-menu>

<mat-menu #menuFeedback="matMenu">
  <button mat-menu-item routerLink="/feedbacks">Listar</button>
  <button mat-menu-item routerLink="/feedbacks/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuEscaneos="matMenu">
  <button mat-menu-item routerLink="/escaneos">Listar</button>
  <button mat-menu-item routerLink="/escaneos/insertareditarescaneo">Registrar</button>
</mat-menu>

<mat-menu #menuCompartir="matMenu">
  <button mat-menu-item routerLink="/compartidos">Listar</button>
  <button mat-menu-item routerLink="/compartidos/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuAsistentevirtual="matMenu">
  <button mat-menu-item routerLink="/asistentesvirtuales">Listar</button>
  <button mat-menu-item routerLink="/asistentesvirtuales/nuevo">Registrar</button>
</mat-menu>

<mat-menu #menuReportes="matMenu">
  <button mat-menu-item routerLink="reportes/recaudaciones/fecha">Reporte recaudado por fecha</button>
  <button mat-menu-item routerLink="reportes/metodos">Reporte recaudado metodo de pago</button>
 </mat-menu>
